@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

.textarea{
	padding: 1em;
	min-height: 20px;
	height: auto;
	border: none;
	width: 100%;
	border-bottom: 3px solid rgba(50,105,255,1);
	-webkit-appearance: none;
	appearance: none;
	resize: none;
	margin: 0 0 1em;
}

.alert{
	font-size: 1em;
	color: #fff;
  	background-color: #333;
  	padding: 0.1em 1em;
  	line-height: 1.2;
  	border-radius: 3px;
  	position: fixed;
  	font-weight: 300;
  	margin: 1em;
  	left: 0;
  	min-height: 50px;
  	right: 0;
  	bottom: -100%;
  	transition: all 0.3s ease-in;

	&.visible{
		bottom: 0;
		transition: all 0.3s ease-out;
	}
}

.fullblock {
	position: absolute;
	width: 100%;
	bottom: 0;
    padding-top: 3em;
    background-color: #CEEAFF;
    padding: 2em 2em;
	h2{
		padding: 0;
    	margin: 0 0 1em;
	}
}

.desc{
	color: #333;
    font-size: 0.8em;
    background-color: #fff29a;
    padding: 1em;
	margin: 2em 0;
	font-size: 1em;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
	p{
		padding: 0;
		margin: 0;
	}

	&.msg{
		background-color: #CEEAFF;
		border: 1px solid #ADDDFF;
	}
}
