* {
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 100%;
	background-color: #fff;
}

h1,h2,h3{
	font-weight: 300;
	line-height: 1.2;

}
h1{
	margin: 1em 0 0;
}
h2{
	margin: 1.6em 0 0;
}

p{
	line-height: 1.5;
}

.row{
	overflow: auto;
	padding: 0 1em;
}

.topbar{
	background-color: rgba(50,105,255,1);
	width: 100%;
	height: 50px;
	color: #fff;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 1em;
	font-weight: 300;

	.title{
		font-size: 1.6em;
		padding: 8px 0;
		float: left;
	}
	.netstatus{
		float: right;
	    padding: 6px 0 0 1em;
	    font-size: 2em;
	}
	.menutoggle{
    	font-size: 1.3em;
		cursor: pointer;
		float: left;
		padding: 10px 1em 0 0;
	}
}

.button{
	box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    text-transform: uppercase;
    border: none;
    padding: 1rem;
	font-size: 1em;
    color: #fff;
    background-color: #3269ff;
}

ul{
	margin:1em 0;
	padding:0 0;
	li{
		margin: 0;
		padding: 0.5em 0;
		list-style: none;

		a{
			text-decoration: none;
			font-size: 1em;
			padding: 1em 1em 1em 0;
			color: #333;
			display: block;
			&:hover{
				background-color: #eee;
			}
		}
	}
}

.sidemenuWrapper {
	height: 100vh;
	position: absolute;
	left: 0;
	width: 100vw;
	background-color: rgba(0,0,0,0);
	transition: all .3s ease-out;
	z-index: -1;
	.sidemenu{
		height: 100vh;
		position: absolute;
		left: -80vw;
		width: 80vw;
		padding: 0.3em 0 1em;
		background-color: #fff;
		box-shadow: 2px 0px 3px rgba(0,0,0,.3);
		transition: all .3s ease-out;
	}

	.head{
		font-size: 1.6em;
		font-weight: 300;
		padding: 0.7rem 1rem 1rem;
		margin-bottom: 0.7rem;
		border-bottom: 1px solid #ccc;
	}

	&.open{
		background-color: rgba(0,0,0,.3);
		transition: all .3s ease-out;
		z-index: 1;
		.sidemenu{
			left: 0;
			transition: all .3s ease-out;
		}
	}
	ul{
		margin:0;
		padding: 0 1rem;
	}
	li{
		list-style: none;
		padding: 0;
	}
}
